name: Build & Test

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main"]
    paths:
      - "src/**"
      - "build_tools/**"
      - "tests/**"
  pull_request:
    branches: ["main"]
    paths:
      - "src/**"
      - "build_tools/**"
      - "tests/**"

jobs:
  Build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      # Cache build outputs by commit hash
      - name: Cache Linux Binaries (Overwritten by Make -B Don't Worry)
        uses: actions/cache@v4
        with:
          path: ./bin/mercury
          key: mercury-linux-binaries-${{ github.sha }}

      - name: Cache Windows Binaries (Overwritten by Make -B Don't Worry)
        uses: actions/cache@v4
        with:
          path: ./bin/mercury.exe
          key: mercury-windows-binaries-${{ github.sha }}
          enableCrossOsArchive: true

      # Init build environment BEFORE libs
      - name: Make Clean
        run: yes | make clean

      # Make executables
      - name: Make Executable Shell Scripts
        run: |
          sudo chmod +x ./build_tools/*.sh
          sudo chmod +x ./build_tools/tools/*

      # Mark artifacts for caching
      - name: Cache Library Artifacts
        uses: actions/cache@v4
        with:
          path: ./libs
          key: >-
            ${{ runner.os }}-artifacts-${{
              hashFiles(
                '**/build_tools/lib_pugixml.sh',
                '**/build_tools/lib_zlib.sh',
                '**/build_tools/lib_openssl.sh',
                '**/build_tools/lib_brotli.sh',
                '**/build_tools/lib_zstd.sh',
                '**/build_tools/dependencies.txt'
              )
            }}

      # Install & cache APT deps
      - name: Install APT Deps
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: build-essential nasm php-cgi
          version: 1.0

      # Install deps & build static binaries
      - name: Build Libs
        run: |
          sudo ./build_tools/install_workflow_deps.sh
            if [ ! -d libs ] || [ -z "$(find libs -mindepth 1 -maxdepth 1 -type d -print -quit)" ]; then
            mkdir -p libs
            make -j libs_no_deps
          fi

      # Build
      - name: Build Mercury Binaries
        run: |
          sudo make -j -B

  Run-Linux-Tests:
    needs: Build
    uses: ./.github/workflows/test-linux.yml
    with:
      artifact-name: mercury-binaries

  Run-Windows-Tests:
    needs: Build
    uses: ./.github/workflows/test-windows.yml
    with:
      artifact-name: mercury-binaries
